/* FONTS */
/*font-family: 'Cinzel', serif;
font-family: 'Raleway', sans-serif;
font-family: 'Anton', sans-serif;
font-family: 'Alfa Slab One', cursive;*/
/* GLOBAL VARIABLES */
$gutter: 1em;
$primary-blue: #0496ff;
$dark-blue: rgb(44, 62, 80);
$light-blue: rgb(52, 73, 94);
$light-green: #7ae582;
$dark-green: #25a18e;

$clouds: rgb(236, 240, 241); //blanco
$silver: rgb(189, 195, 199);

/* SIZES */
$small: 769px;
$medium: 1023px;
$large: 1250px;

/* IMPORTS */
@import "base/base.scss";
@import "layout/layout.scss";
@import "modules/modules.scss";
@import "states/states.scss";