.main-header {
    height: 75vh;
    font-size: 20px; //change in media query for wide devices.
    overflow: hidden;
    background: linear-gradient(140deg, rgba($light-blue,0.2) , darken($light-blue, 10%)),
                url(/img/water2.jpeg);
    padding-top: 2.5em;
    background-size: cover;
    background-position: 20% center;
    @media (orientation: landscape) and (max-width: $small) {
        height: 75vh;
    }
    @media (min-width: $small) {
        background-position: center center;
    }
    @media (min-width: $medium) {
        font-size: 24px;
    }

    @media (min-width: $large) {
        font-size: 28px;
    }

}

.main-header-agua {
    background: linear-gradient(140deg, rgba(white,0.4) , rgba($primary-blue,0.7)),
                url(/img/water-middle.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    @media (min-width: $medium) {
        height: 50vh;
    }
}

.main-header-contacto {
    background-image: url(/img/contact.jpg);
    background-size: cover;
}

.main-header-soda {
        background: linear-gradient(140deg, rgba(white,0.4) , rgba($primary-blue,0.7)),
                url(/img/soda.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    @media (min-width: $medium) {
        height: 50vh;
    }
}