.main-content {
    font-size: 18px;
    overflow: hidden;
    @media (min-width: $large) {
        font-size: 22px;
    }

    &__container {
        padding: 0.5em 1em;


        @media (min-width: $small) {
            padding: 0;
            width: 90%;
            margin: 0 auto;
        }
    }
}