/* These are the rules that defines the main-nav layout */
.main-nav {
    height: 12vh;
    width: 100%;
    background-color: rgba(236, 240, 241,1.0); // main-nav background color
    box-shadow: 5px 0 10px rgba($dark-blue,0.5);
    position: fixed;
    z-index: 500;
    overflow: hidden;
    &__container {
        padding: 0;
        height: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        .wrap-hamburger {
            height: 90%;
            width: 30%;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .hamburger {
            width: 100%;
            max-width: 100px;
            height: 85%;
            order: 2;
            position: relative;
            margin-right: 0.5em;
            background-image: url(/img/menu.svg);
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            cursor: pointer;
            transition: opacity 500ms ease-in;

            &:hover {
                opacity: 0.7;
            }
        }
    }
    

    @media (min-width: $small) {
        height: 10vh;
        position: static;

        &__container {
            padding: initial;
        }
    }
    @media (orientation: landscape) and (max-width: $small) {
        height: 17vh;
    }

}