* , *::before, *::after {
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background-color: rgba(236, 240, 241,1.0);
}
::selection {
    background-color: rgba($dark-blue , 0.8);
    color: $clouds;
}

a {
    color: inherit;
}

li {
    margin: 0;
    padding: 0;
}

h1,p {
    margin-top: 0;
}

h1,h2,h3,h4,h5,h6 {
    font-weight: normal;
    font-family: 'Cinzel', serif;
    color: $dark-blue;
}

p {
    font-family: 'Raleway', sans-serif;
    color: $dark-blue;
    line-height: 1.5;
}

img {
    max-width: 100%;
}
ul {
    font-family: 'Raleway', sans-serif;
}