.analysis {
    padding-top: 2em;
    padding-bottom: 2em;

    &__title {
        text-align: center;
    }

    &__img {
        display: block;
        margin: 0 auto;

        @media(min-width: $small) {
            width: 60%;
        }
        @media(min-width: $medium) {
            width: 40%;
        }
    }
}