.banner {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    &__description {
        color: $primary-blue;
        text-transform: uppercase;
        padding: 0.2em;
        text-shadow:    2px  2px  $clouds,
                        8px 8px darken($primary-blue, 25%);
        padding: 0.3em;
        font-family: 'Alfa Slab One', cursive;
        font-weight: normal;
        @media (min-width: $medium) {
            font-size: 2.3em;
        }
    }
}