.coffee {
    position: relative;
    height: 60vh;
    @media (min-width: $medium) {
        height: 40vh;
    }

    &__title {
        position: absolute;
        z-index: 10;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: $clouds;
        text-shadow: 0 0 8px black;
        margin: 0;
        padding: 0.5em;
        @media (min-width: $medium) {
            justify-content: flex-end;
            padding-right: 1em;
            color: $dark-blue;
            text-shadow: 0 0 5px rgba(0,0,0,0.3);
        }
    }
}

.video-container {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%; 
  overflow: hidden;
}
.video-container video {
  /* Make video to at least 100% wide and tall */
  min-width: 100%; 
  min-height: 100%; 

  /* Setting width & height to auto prevents the browser from stretching or squishing the video */
  width: auto;
  height: auto;

  /* Center the video */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}