.company-logo {
    max-height: 90%;
    height: auto;
    margin: 0 0.3em;
    width: 70%;
    display: flex;
    align-items: center;

    &__image {
        width: 100px;
        height: auto;
        @media(max-width: $medium) {
            padding: 1em 0.5em;
        }
    }
    &__img {
        width:100%;
        height: auto;
    }
    &__name {
        height: 100%;
        width: 60%;
        padding: 0.3em;
        padding-left: 0;
        font: 0.7em 'Anton', sans-serif;
        display: flex;
        align-items: center;
        margin: 0;
        text-align: center;
        color: $primary-blue;
        text-shadow: 1px 1px 2px rgba(0,0,0,0.2);
        text-transform: uppercase;
        & a {
            text-decoration: none;
            transition: color 400ms ease-in-out 300ms , transform 600ms;
            &:hover {
                color: darken($primary-blue , 10%);
                transform: rotate(360deg);
            }
        }
        & span {
            font-size: 1.4em;

            @media (min-width: $small) {
                font-size: 1.8em;
            }
        }

        @media (min-width: $small) {
            font-size: 0.9em;
        }
    }



}