.copyright {
    margin-top: auto;
    background: darken($dark-blue,10%);
    min-height: 10vh;
    padding: 1em;
    &__container {
       @media (min-width: $medium) {
           display: flex;
           justify-content: space-between;
           align-items: center;
           margin-top: auto;
       }
    }
}
.year,.developer {
    text-align: center;
    color: lighten($dark-blue , 40%);
}

.datafiscal {
    width: 40%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    
    &__img {
        width: 50px;
        opacity: 0.8;
        &:hover {
            opacity: 1;
        }
    }
    @media (min-width: $medium) {
           margin: 0;
           width: 15%;
    }

}

.year {
    margin: 0;
}

.developer {
    display: block;
    font-family: 'Raleway', sans-serif;

    a:hover {
        color: lighten($dark-blue , 60%);
    }
}
