.facebook {
    min-height: 20vh;
    background-color: #3b5998;
    text-decoration: none;
    cursor: pointer;
    box-shadow: inset 0 0 0 #dfe3ee;
    transition: box-shadow 300ms ease-in-out;
    &__icon {
        color: $clouds;
        font-size: 4em;
        transition: transform 400ms ease-in-out;
    }
    @media(orientation: landscape) and (max-width: $large) {
        min-height: 30vh;
    }
    @media (min-width: $large) {
        min-height: 10vh;
    }
    &:hover {
        box-shadow: inset 2000px 0 0 #dfe3ee;
    }
    &:hover &__icon {
        transform: rotate(360deg);
        color: #3b5998;
        
    }
    &__home {
        @media (min-width: $medium) {
            width: 100%;
        }
    }
}

.facebook , .facebook__icon {
    display: flex;
    justify-content: center;
    align-items: center;
}

.mailchamp {
    min-height: 15vh;
    @media (min-width: $medium) {
        display: flex;
    }
}

#mc_embed_signup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @media (min-width: $medium) {
        width: 50%;
    }
}

#mc-embedded-subscribe-form {
    @media (max-width: $medium) {
        width: 90%;
    }
}