.full-width-soda {
    min-height: 65vh;
    background-color: $silver;
    background: linear-gradient(20deg , $clouds , $silver);
    display: flex;
    justify-content: center;
    align-items: center;
}