.link {
    color: lighten($dark-blue,40%);
    width: 95%;
    margin: 0 auto;
    overflow: hidden;
    
    &__title {
        color: lighten($dark-blue,50%);
        text-align: center;
        margin-top: 0;
        margin-bottom: 0;
        padding-top: 1em;
        font-size: 1.5em;
    }

    &__container {
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;
        flex-direction: column;
        align-items: center;

        
    }
    &__title::selection,&__item a::selection {
        background: $dark-blue;
        color: white;
    }
    &__item {
        width: 100%;
        display: flex;
        justify-content: center;
        a {
            text-decoration: none;
            font-family: 'Raleway', sans-serif;
            line-height: 1.5;
            transition: color 400ms ease-in-out;
            &:hover {
                color: lighten($dark-blue,60%);
            }
        }
    }

    &__icon {
        padding-right: 0.2em;
        font-size: 1.2em;
        position: relative;
        top: 5px;
    }
   @media (min-width: $medium) {
       margin-left: 1em;
   }
}
.links {
    padding-top: 2em;
    padding-bottom: 2em;
    @media (min-width: $medium) {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}
