.main-contact {
    padding: 1em;
    @media(min-width: $medium) {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
    }
}

.main-content-form {
    @media(min-width: $medium) {
        width: 60%;
    }
}

.contact-aside {
    @media(min-width: $medium) {
        width: 35%;
        padding: 1em;
    }
    &__title {
        text-align: center;
    }
    &__list {
        color: $dark-blue;
        font-size: 1.2em;
        padding-left: 1.3em;
        overflow: hidden;
        @media(min-width: $medium) {
            font-size: 1.5em;
        }
    }
    &__map {
        width: 100%;
        margin: 0 auto;
    }
}

