.main-menu {
    display: flex;
    position: fixed;
    opacity: 0;
    top: -1000px;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(236, 240, 241,1.0);
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: 500ms;
    z-index: 200;
    @media (min-width: $medium) {
        font-size: 20px;
    }
    @media (min-width: $large) {
        font-size: 25px;
    }

}

.menu {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 50%;
    height: 50%;
    margin-top: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &__item {
        font: 2.3em  'Anton', sans-serif;
        margin-top: 0.4em;
        transition: transform 600ms cubic-bezier(1,-0.35,0,1.45) , box-shadow 700ms ease-in-out;
        &:hover {
            transform: scale(1.2);
            box-shadow: 0 5px 0 lighten(rgba(44, 62, 80,1.0), 15%);
        }
        @media (orientation: landscape) and (max-width: $small) {
            font-size: 1.8em;
            margin-top: 0;
        }
    }

    &__item a {
        text-decoration: none;
        color: rgba(44, 62, 80,1.0);
        text-transform: uppercase;

        &:hover {
            color: lighten(rgba(44, 62, 80,1.0), 15%);
        }
    }
}

.close-button {
    position: absolute;
    top: 5px;
    right: 20px;
    height: 70px;
    width: 70px;
    border-radius: 50%;
    
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 2em;
    background-color: white;
    border: 2px solid rgba(44, 62, 80,1.0);
    color: rgba(44, 62, 80,1.0);

    transition: background-color 300ms ease-in-out , color;
}

.close-button:hover {
    color: white;
    background-color: rgba(44, 62, 80,1.0);
}

.adress {
    margin-top: auto;
    height: 20%;
    width: 100%;
    background: rgba(44, 62, 80,1.0);
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact {
    width: 90%;
    height: 95%;
    padding-top: 1em;
    @media (orientation: landscape) and (max-width: $small) {
        display: flex;
        justify-content: space-between;
    }

    &__container {
        display: flex;
        justify-content: center;
    }

    &__icon {
        padding-right: $gutter / 2;
        padding-top: 0.1em;
    }

    &__icon , &__description {
        font:1.1em Impact,sans-serif;
        color: $clouds;
        @media (min-width: $small) {
            font-size: 1.3em;
        }
    }
}