.process {
    margin-top: 2em;
    background-color: $primary-blue;
    background-image: linear-gradient(50deg,$primary-blue , lighten($primary-blue, 20%) );
    color: $clouds;
    padding-top: 2em;
    padding-bottom: 2em;
    
    &__item {
        border: 1px solid rgba($clouds,0.4);
        margin-top: 1em;
        padding: 0.5em;
        display: flex;
        flex-direction: column;
        @media(min-width: $small){
            margin-right: 0.5em;
            flex: 1;
        }
    }

    &__description,&__title {
        color: $clouds;
    }
    &__information {
        
    }
    &__title {
        font-size: 1.2em;
        text-align: center;
    }
    &__icon {
        margin: 0 auto;
        margin-bottom: 0.5em;
        border-radius: 50%;
        padding: 0.5em;
        font-size: 2em;
        border: 3px solid $clouds;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        transition: color 400ms ease-in-out , background-color 400ms ease-in-out;
    }
    &__icon:hover {
        background-color: $clouds;
        color: $primary-blue;
    }
}

.flex-parent {
    display: flex;
    flex-wrap: wrap;
}