.product {


    @media (min-width: $small) {
        display: flex;
    }
    &__container {
        height: 45vh;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        overflow: hidden;

        @media (orientation: landscape) and (max-width: $small) {
            height: 70vh;
        }
    }
    &__title {
        margin: 0;
        position: absolute;
        z-index: 100;
        text-shadow: 2px 2px 3px $dark-blue;
        color: $clouds;
    }
    &__background {
        position: absolute;
        height: 100%;
        width: 100%;
        cursor: pointer;
        background: linear-gradient(60deg, rgba($primary-blue,0.2) , rgba($primary-blue,0.7)) ,
                    url(/img/water-middle.jpg);
        background-size: cover;
        transition: transform 500ms ease-in-out;
    }
    &__background:hover {
        transform: scale(1.3) rotate(3deg);
    }
}
.background-1 {
    background: linear-gradient(-60deg, rgba($primary-blue,0.2) , rgba($primary-blue,0.7)) ,
                    url(/img/soda.jpg);
    background-size: cover;
}

.anchor {
    width: 100%;
}