.question {


    &-container {
        min-height: 25vh;
        padding-bottom: $gutter;
        display: flex; 
        &__image{
            display: none;
            width: 30%;
            height: auto;
            margin-left: 0.5em;
            background-size: cover;
            @media (min-width: $medium) {
                display: block;
            }
        } 
    }
}

.answer {
    

    @media (min-width: $medium) {
        width: 70%;
    }

    &__title {
        text-align: center;
    }

}
.image1 {
    background-image: url(/img/bidon20lts2.jpg);
}
.image2{
    background-image: url(/img/aguaysoda.jpg);
}
