.recycle {
    min-height: 50vh;
    background-color: darken($light-green, 25%);
    background: linear-gradient(120deg , darken($light-green, 25%) , $dark-green );
    color: lighten($light-green, 10%);
    padding-bottom: 1em;
    @media (min-width: $large) {
        min-height: 80vh;
    }
    &__fill {
        height: 100%;
    }
    &__title {
        padding-top: 1em;
        text-align: center;
        color: inherit;
    }
}

.reuse {
    @media (min-width: $medium) {
        display: flex;
    }

    &__img-container {
        width: 30%;
        margin: 0 auto;
        @media (min-width: $medium) {
            order: 1;
        }
    }
    &__description {
        color: inherit;
        @media (min-width: $medium) {
            width: 70%;
        }
    }
    &__paragraph,&__subtitle {
        color: inherit;
    }

    &__list {
        font-family: 'Raleway', sans-serif;

        li {
            padding-bottom: 1em;
        }
    }
}