.soda {

    &__title {
        padding-top: 1em;
        text-align: center;
        margin-top: 0;
        @media (min-width: $medium) {
            padding-top: 0;
        }
    }
    &__img {
        display: none;
    }
    &__siphon {
        @media(orientation: landscape) and (max-width: $medium) {
            width: 70%;
            display: block;
            margin: 0 auto;
        }
        @media (min-width: $medium) {
            width: 60%;
        }
    }
    &__text {

    }
    &__picture {
        display: flex;
        justify-content: center;
        align-items: flex-start;
    }
    @media (min-width: $medium) {
        display: flex;
    }
}

.soda-images {
    margin-top: 3em;
    padding-bottom: 2em;
    @media(min-width: $small) {
        display: flex;
        align-items: flex-start;
        justify-content: space-around;
    }

    &__img {
        @media(min-width: $small) {
            width: 45%;
        }
    }
    
}