.water {
    background-color: $primary-blue;
    background-image: linear-gradient(-80deg, $primary-blue , lighten($primary-blue, 25%) );
    color: $clouds;
    font-size: 20px;
    min-height: 100vh;
    display: flex;
    align-items: center;
    &__container {
        @media (min-width: $small) {
            display: flex;
        }
    }
    &__img {
       @media (min-width: $small) {
            width: 50%;
        }
    }

    &__right-container {
        @media (min-width: $small) {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
    }
}

.bottle {
    @media (orientation: landscape) {
        display: flex;
        justify-content: space-around;
        align-items: flex-start;
    }
    &__img {
        padding-top: 1em;
        @media (orientation: landscape) {
            width: 48%;
        }
    }
    
}
.main-text {

     &__title,&__description {
         color: inherit;
     }
     &__title {
         text-align: center;
         padding-top: 1em;
     }
}